%form{ :action => "/ayudaRes", :method => "GET"}

	%input{:type => "hidden", :name => "formulario", :value=>"Ayuda"}

	%label{:for => "fname"} Nombre Completo:
	%input{:type => "text", :name => "fname", :class => "text"}

	%label{:for => "apellido"} Apellido:
	%input{:type => "text", :name => "apellido", :class => "text"}

	%label{:for => "email"} Email:
	%input{:type => "text", :name => "email", :class => "text"}

	%label{:for => "telefono"} Teléfono:
	%input{:type => "text", :name => "telefono", :class => "text"}
	
	
	%label{:for => "nacimiento"} Nacimiento:
	%input{:type => "text", :name => "nacimiento", :class => "text"}
	
	
	%label{:for => "operadorCable"} Operador:
	%input{:type => "text", :name => "operadorCable", :class => "text"}
	
	%label{:for => "canal"} Canal:
	%input{:type => "text", :name => "canal", :class => "text"}	
	
	%label{:for => "pais"} Pais:
	%input{:type => "text", :name => "pais", :class => "text"}
	
	%label{:for => "ciudad"} Cuidad:
	%input{:type => "text", :name => "ciudad", :class => "text"}
	

	%label{:for => "motivo"} Motivo de Consulta:
	%select{:name => "motivo", :class => "dropdown"}
		%option{:value => " "} -- Por favor seleccione --            
		%option{:value => "Programacion del Canal"} Programacion del Canal
		%option{:value => "Compra de paquetes"} Compra de paquetes
		%option{:value => "Pauta en Canal"} Pauta en el Canal
		%option{:value => "Otros"} Otros

	%label{:for => "solicitud"} Comentarios:
	%textarea{:name => "solicitud"}              

	%label{:for => "optIn"} Suscribirse a amigo destinos:
	%input{:type => "checkbox", :name => "optIn", :class => "checkbox"}



	%input{:type => "submit", :value => "Send", :class => "button"}

